<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Укртранс</title>
	<link rel="stylesheet" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/owl.theme.css">
	<link rel="stylesheet" href="../css/owl.transitions.css">
</head>
<body class="page404-bg">
<div class="wrapper wrapper404">

	<div class="content">
		<div class="page404">
			<h5>ошибка</h5>
			<h1>404</h1>

			<h2>Заблудились?</h2>

			<p>Запрашиваемая вами страница удалена или не существует.</p>

			<a href="#" class="btn">На главную</a>
		</div>
		
	</div>
</div>

<footer class="footer404">
	<div class="footer-top">
		<div class="footer-top-inner">
			<div class="footer-item">
				<article>О компании:</article>

				<ul>
					<li><a href="#">История</a></li>
					<li><a href="#">Ценности</a></li>
					<li><a href="#">Новости компании</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Услуги:</article>

				<ul>
					<li><a href="#">Перевозки по Украине</a></li>
					<li><a href="#">Международные перевозки</a></li>
					<li><a href="#">Услуги СТО</a></li>
					<li><a href="#">Эвакуатор</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Для клиентов:</article>

				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Помогите нам стать лучше</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>	

<script src=" https://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>