<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Укртранс</title>
	<link rel="stylesheet" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/owl.theme.css">
	<link rel="stylesheet" href="../css/owl.transitions.css">
</head>
<body>
<div class="wrapper wrapper_contacts">
		<header>
		<div class="header-top">
			<div class="header-top-inner">
				<div class="logo">
					<a href="index.html">
						<img src="../images/logo.png" alt="logo">
					</a>
				</div>

				<div class="header-top-menu">
					<ul>
						<li class="active">новости <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">блог</a></li>
									<li><a href="#">новости компании</a></li>
								</ul>
							</div>
						</li>
						<li>о компании <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">контакты</a></li>
									<li><a href="#">о нас</a></li>
									<li><a href="#">ценности</a></li>
									<li><a href="#">история</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="header-top-phone">
					<p>Выбрать телефон:</p>

					<ul>
						<li>
							<span>0-800-220-30-20</span>
							<em>отдел продаж</em>
							<i class="icon-down-grey"></i>

							<div class="sub-menu-top">
								<ul>
									<li>
										<a href="#">
											<span>0-800-220-30-20</span>
											<em>отдел продаж</em>
										</a>
									</li>
									<li>
										<a href="#">
											<span>0-800-220-30-20</span>
											<em>отдел продаж</em>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="header-top-lang">
					<ul>
						<li>
							<span class="icon-rus"></span>ru <i class="icon-down-grey"></i>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#"><span class="icon-rus"></span>ru </a></li>
									<li><a href="#"><span class="icon-ua"></span>ua </a></li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="header-bottom">
			<div class="header-bottom-menu">
				<ul>
					<li class="active">
						<a href="">Грузоперевозки по украине<span class="icon-down-grey"></span></a>
					</li>
					<li><a href="#">Международные грузоперевозки<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Перевозки в Германию</a></li>
								<li><a href="#">Перевозки в Польшу</a></li>
								<li><a href="#">Перевозки в Латвию</a></li>
								<li><a href="#">Перевозки во Францию</a></li>
							</ul>
						</div>
					</li>
					<li><a href="">технические услуги<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Услуги эвакуатора</a></li>
								<li><a href="#">СТО</a></li>
								<li><a href="#">Услуга</a></li>
								<li><a href="#">Услуга</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="content">
		

		<div class="first-row table-layout">
			<div class="left-side">
				<div class="left-side-f">
					<div class="left-side-icon">
						<img src="../images/left-icon.png" alt="map">
					</div>
					<div class="left-side-circle"></div>
				</div>
			</div>
			
			<div class="contacts-top">
				<div class="navigation">
					<ul>
						<li><a href="">Главная</a></li>
						<li>&nbsp;&gt;&nbsp;</li>
						<li><a href="">О компании</a></li>
						<li>&nbsp;&gt;&nbsp;</li>
						<li><span>Контакты</span></li>
					</ul>
				</div>

				<div class="contacts-inner">
					<h1>Контакты</h1>

					<div class="contacts-wrap">
						<div class="contacts-item">
							<div class="contacts-item-icon">
								<span class="icon-adr"></span>
							</div>
							<div class="contacts-item-text">
								<article>Наш адрес:</article>
								<ul>
									<li>г. Бровары, </li>
									<li>ул. Шелковичная,</li>
									<li>58</li>
								</ul>
							</div>
						</div>
						<div class="contacts-item">
							<div class="contacts-item-icon">
								<span class="icon-phone"></span>
							</div>
							<div class="contacts-item-text">
								<article>Телефоны:</article>
								<ul>
									<li>+380 (67) 765-54-32</li>
									<li>+380 (50) 333-32-41</li>
									<li>+380 (93) 891-45-67</li>
								</ul>
							</div>
						</div>
						<div class="contacts-item">
							<div class="contacts-item-icon">
								<span class="icon-mail"></span>
							</div>
							<div class="contacts-item-text">
								<article>E-mail:</article>
								<ul>
									<li>info@ukrtrans.ua</li>
								</ul>
							</div>
						</div>
						<div class="contacts-item">
							<div class="contacts-item-icon">
								<span class="icon-call"></span>
							</div>
							<a href="#" class="btn btn-white callback">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f">
					<div class="right-side-icon">
						<img src="../images/right-icon.png" alt="map">
					</div>
					<div class="right-side-circle"></div>
				</div>
			</div>
		</div>


		<div class="sec-row four-row-contacts table-layout">
			<div class="left-side">
				<div class="left-side-f">
					<div class="left-side-text">
						<p><em>НАДЁЖНОСТЬ — </em>главное наше качество.</p>
					</div>
					<div class="left-side-circle"></div>
				</div>
			</div>
			
			<div class="main-contacts">
				<div class="main-contacts-left">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114737.05833439782!2d30.887115402011815!3d50.54617253018426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4df3c4761b897%3A0x38300d8bf8ca0d78!2z0KPQmtCg0KLQoNCQ0J3QoQ!5e0!3m2!1sru!2sru!4v1450976645812" width="1210" height="371" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f">
					<div class="right-side-text">
						<p><em>УКРТРАНС — </em>это стабильность.</p>
					</div>
					<div class="right-side-circle"></div>
				</div>
			</div>
		</div>

		<div class="right-widget">
			<ul>
				<li><a href="#"><span class="icon-f"></span></a></li>
				<li><a href="#"><span class="icon-v"></span></a></li>
				<li><a href="#"><span class="icon-g"></span></a></li>
				<li>
					<span class="icon-search"></span>
					<div class="right-widget-form">
						<form action="">
							<input type="text">	
						</form>
					</div>
				</li>
				<li>
					<span class="icon-up"></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="pop-call">
	<div class="pop-call-wrap">
		<span class="icon-close"></span>
		<h2>Заказать обратный звонок</h2>
		<p>Заполните, пожалуйста, эту форму, <br>и наши менеджеры свяжутся с Вами в ближайшее время.</p>
		<form action="">
			<div class="input">
				<span class="icon-form-pers"></span>
				<label for="">Имя</label>
				<input type="text">
			</div>
			<div class="input">
				<span class="icon-form-phone"></span>
				<label for="">+380 (____)_------</label>
				<input type="text">
			</div>
			<div class="input-txt">
				<span class="icon-form-dop"></span>
				<label for="">Доп.инфо</label>
				<textarea name="" id=""></textarea>
			</div>

			<div class="form-bottom">
				<button class="btn">Заказать консультацию</button>
			</div>	
		</form>
	</div>

	<div class="pop-call-thx">
		<span class="icon-close-blue"></span>
		<h2>Спасибо!</h2>
	</div>
</div>

<footer>
	<div class="footer-top">
		<div class="footer-top-inner">
			<div class="footer-item">
				<article>О компании</article>

				<ul>
					<li><a href="#">История</a></li>
					<li><a href="#">Ценности</a></li>
					<li><a href="#">Новости компании</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Услуги</article>

				<ul>
					<li class="active"><a href="#">Перевозки по Украине</a></li>
					<li><a href="#">Международные перевозки</a></li>
					<li><a href="#">Услуги СТО</a></li>
					<li><a href="#">Эвакуатор</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Для клиентов</article>

				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Помогите нам стать лучше</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Мы в соц. сетях</article>

				<ul>
					<li><a href="#"><span class="icon-f"></span></a></li>
					<li><a href="#"><span class="icon-v"></span></a></li>
					<li><a href="#"><span class="icon-g"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-inner">
			<div class="footer-copy">
				&copy; УкрТРАНС 2015. Все права защищены.
			</div>
			<div class="footer-artrix">
				Интернет-агентство <a href="">Artrix</a><span class="icon-bird"></span>
			</div>
		</div>
	</div>
</footer>	

<script src=" https://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>