<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Укртранс</title>
	<link rel="stylesheet" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/owl.theme.css">
	<link rel="stylesheet" href="../css/owl.transitions.css">
</head>
<body>
<div class="wrapper wrapper-about">
		<header>
		<div class="header-top">
			<div class="header-top-inner">
				<div class="logo">
					<a href="index.html">
						<img src="../images/logo.png" alt="logo">
					</a>
				</div>

				<div class="header-top-menu">
					<ul>
						<li class="active">новости <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">блог</a></li>
									<li><a href="#">новости компании</a></li>
								</ul>
							</div>
						</li>
						<li>о компании <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">контакты</a></li>
									<li><a href="#">о нас</a></li>
									<li><a href="#">ценности</a></li>
									<li><a href="#">история</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="header-top-phone">
					<p>Выбрать телефон:</p>

					<ul>
						<li>
							<span>0-800-220-30-20</span>
							<em>отдел продаж</em>
							<i class="icon-down-grey"></i>

							<div class="sub-menu-top">
								<ul>
									<li>
										<a href="#">
											<span>0-800-220-30-20</span>
											<em>отдел продаж</em>
										</a>
									</li>
									<li>
										<a href="#">
											<span>0-800-220-30-20</span>
											<em>отдел продаж</em>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="header-top-lang">
					<ul>
						<li>
							<span class="icon-rus"></span>ru <i class="icon-down-grey"></i>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#"><span class="icon-rus"></span>ru </a></li>
									<li><a href="#"><span class="icon-ua"></span>ua </a></li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="header-bottom">
			<div class="header-bottom-menu">
				<ul>
					<li class="active">
						<a href="">Грузоперевозки по украине<span class="icon-down-grey"></span></a>
					</li>
					<li><a href="#">Международные грузоперевозки<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Перевозки в Германию</a></li>
								<li><a href="#">Перевозки в Польшу</a></li>
								<li><a href="#">Перевозки в Латвию</a></li>
								<li><a href="#">Перевозки во Францию</a></li>
							</ul>
						</div>
					</li>
					<li><a href="">технические услуги<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Услуги эвакуатора</a></li>
								<li><a href="#">СТО</a></li>
								<li><a href="#">Услуга</a></li>
								<li><a href="#">Услуга</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="content">
		
		<div class="first-row first-row_trans table-layout ">
			<div class="left-side left-side_h">
				<div class="left-side-f">
					<div class="left-side-icon">
						<img src="../images/left-icon.png" alt="map">
					</div>
					<div class="left-side-circle"></div>
				</div>

				<div class="left-side-ff">
					<div class="left-side-text">
						<p><em>НАДЁЖНОСТЬ — </em>главное наше качество.</p>
					</div>
					<div class="left-side-circle"></div>
				</div>

				<div class="left-side-fff spoiler-h">
					<div class="five-row-left-icon">
						<img src="../images/left-icon4.png" alt="icon">
					</div>
					<div class="left-side-circle"></div>
				</div>
			</div>
			
			<div class="contacts-top contacts-top_blog trans-block">
				<div class="navigation">
					<ul>
						<li><a href="">Главная</a></li>
						<li>&nbsp;&gt;&nbsp;</li>
						<li><a href="">Новости</a></li>
						<li>&nbsp;&gt;&nbsp;</li>
						<li><span>Блог</span></li>
					</ul>
				</div>

				<div class="blog-post transportation-head">
					<h1>Международные перевозки</h1>

					<div class="transportation">
						<div class="transportation-item">
							<div class="transportation-item-left">
								<img src="../images/transportation1.png" alt="">
							</div>
							<div class="transportation-item-right">
								<h2>Перевозки в Польшу</h2>
								<p>
									Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных 
								</p>
								<a href="" class="btn btn-white">Подробнее</a>
							</div>
						</div>
						<div class="transportation-item">
							<div class="transportation-item-left">
								<img src="../images/transportation2.png" alt="">
							</div>
							<div class="transportation-item-right">
								<h2>Перевозки в Италию</h2>
								<p>
									Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных 
								</p>
								<a href="" class="btn btn-white">Подробнее</a>
							</div>
						</div>
						<div class="transportation-item">
							<div class="transportation-item-left">
								<img src="../images/transportation3.png" alt="">
							</div>
							<div class="transportation-item-right">
								<h2>Перевозки в Германию</h2>
								<p>
									Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных 
								</p>
								<a href="" class="btn btn-white">Подробнее</a>
							</div>
						</div>
						<div class="transportation-item">
							<div class="transportation-item-left">
								<img src="../images/transportation4.png" alt="">
							</div>
							<div class="transportation-item-right">
								<h2>Перевозки в страны Прибалтики</h2>
								<p>
									Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных 
								</p>
								<a href="" class="btn btn-white">Подробнее</a>
							</div>
						</div>
					</div>

					<div class="transportation-text">
						<h2>О нас</h2>

						<div class="transportation-text-inner">
							<p>В наше время различная деятельность разных компаний не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками (Транспортно экспедиционная компания). Для многих компаний качественная, быстрая, своевременная доставка различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность данной компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным, потому что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с каждым годом интерес и спрос на различные грузоперевозки растет и растет.</p>

							<p>В наше время различная деятельность разных компаний не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками (Транспортно экспедиционная компания). Для многих компаний качественная, быстрая, своевременная доставка различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность данной компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным, потому что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с каждым годом интерес и спрос на различные грузоперевозки растет и растет.</p>
						</div>

						<a href="#" class="btn btn-white spoiler">Подробнее</a>
					</div>
					
				</div>
			</div>

			<div class="right-side left-side_h">
				<div class="right-side-f">
					<div class="right-side-icon">
						<img src="../images/right-icon.png" alt="map">
					</div>
					<div class="right-side-circle"></div>
				</div>
				<div class="right-side-ff">
					<div class="right-side-text">
						<p><em>УКРТРАНС — </em>это стабильность.</p>
					</div>
					<div class="right-side-circle"></div>
				</div>
				<div class="right-side-fff spoiler-h">
					<div class="five-row-right-icon">
						<img src="../images/right-icon4.png" alt="icon">
					</div>
					<div class="five-row-right-circle"></div>
				</div>	
			</div>
		</div>

	</div>

	<div class="right-widget">
		<ul>
			<li><a href="#"><span class="icon-f"></span></a></li>
			<li><a href="#"><span class="icon-v"></span></a></li>
			<li><a href="#"><span class="icon-g"></span></a></li>
			<li>
				<span class="icon-search"></span>
				<div class="right-widget-form">
					<form action="">
						<input type="text">	
					</form>
				</div>
			</li>
			<li>
				<span class="icon-up"></span>
			</li>
		</ul>
	</div>
</div>

<div class="pop-call">
	<div class="pop-call-wrap">
		<span class="icon-close"></span>
		<h2>Заказать обратный звонок</h2>
		<p>Заполните, пожалуйста, эту форму, <br>и наши менеджеры свяжутся с Вами в ближайшее время.</p>
		<form action="">
			<div class="input">
				<span class="icon-form-pers"></span>
				<label for="">Имя</label>
				<input type="text">
			</div>
			<div class="input">
				<span class="icon-form-phone"></span>
				<label for="">+380 (____)_------</label>
				<input type="text">
			</div>
			<div class="input-txt">
				<span class="icon-form-dop"></span>
				<label for="">Доп.инфо</label>
				<textarea name="" id=""></textarea>
			</div>

			<div class="form-bottom">
				<button class="btn">Заказать консультацию</button>
			</div>	
		</form>
	</div>

	<div class="pop-call-thx">
		<span class="icon-close-blue"></span>
		<h2>Спасибо!</h2>
	</div>
</div>

<footer>
	<div class="footer-top">
		<div class="footer-top-inner">
			<div class="footer-item">
				<article>О компании</article>

				<ul>
					<li><a href="#">История</a></li>
					<li><a href="#">Ценности</a></li>
					<li><a href="#">Новости компании</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Услуги</article>

				<ul>
					<li class="active"><a href="#">Перевозки по Украине</a></li>
					<li><a href="#">Международные перевозки</a></li>
					<li><a href="#">Услуги СТО</a></li>
					<li><a href="#">Эвакуатор</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Для клиентов</article>

				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Помогите нам стать лучше</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Мы в соц. сетях</article>

				<ul>
					<li><a href="#"><span class="icon-f"></span></a></li>
					<li><a href="#"><span class="icon-v"></span></a></li>
					<li><a href="#"><span class="icon-g"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-inner">
			<div class="footer-copy">
				&copy; УкрТРАНС 2015. Все права защищены.
			</div>
			<div class="footer-artrix">
				Интернет-агентство <a href="">Artrix</a><span class="icon-bird"></span>
			</div>
		</div>
	</div>
</footer>	

<script src=" https://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>