<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Укртранс</title>
	<link rel="stylesheet" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/owl.theme.css">
	<link rel="stylesheet" href="../css/owl.transitions.css">
</head>
<body>
<div class="wrapper">
	<header>
		<div class="header-top">
			<div class="header-top-inner">
				<div class="logo">
					<a href="index.html">
						<img src="../images/logo.png" alt="logo">
					</a>
				</div>

				<div class="header-top-menu">
					<ul>
						<li class="active">новости <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">блог</a></li>
									<li><a href="#">новости компании</a></li>
								</ul>
							</div>
						</li>
						<li>о компании <span class="icon-down-grey"></span>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#">контакты</a></li>
									<li><a href="#">о нас</a></li>
									<li><a href="#">ценности</a></li>
									<li><a href="#">история</a></li>
								</ul>
							</div>
						</li>
						<li>личный кабинет <span class="icon-down-grey"></span></li>
					</ul>
				</div>

				<div class="header-top-phone">
					<p>Выбрать телефон:</p>

					<ul>
						<li>
							<span>0-800-220-30-20</span>
							<em>отдел продаж</em>
							<i class="icon-down-grey"></i>
						</li>
					</ul>
				</div>

				<div class="header-top-lang">
					<ul>
						<li>
							<span class="icon-rus"></span>ru <i class="icon-down-grey"></i>
							<div class="sub-menu-top">
								<ul>
									<li><a href="#"><span class="icon-rus"></span>ru </a></li>
									<li><a href="#"><span class="icon-ua"></span>ua </a></li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="header-bottom">
			<div class="header-bottom-menu">
				<ul>
					<li class="active">
						<a href="">Грузоперевозки по украине<span class="icon-down-grey"></span></a>
					</li>
					<li class="hover"><a href="#">Международные грузоперевозки<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Перевозки в Германию</a></li>
								<li class="hover"><a href="#">Перевозки в Польшу</a></li>
								<li><a href="#">Перевозки в Латвию</a></li>
								<li><a href="#">Перевозки во Францию</a></li>
							</ul>
						</div>
					</li>
					<li><a href="">технические услуги<span class="icon-down-grey"></span></a>
						<div class="bottom-sub-menu">
							<ul>
								<li><a href="#">Услуги эвакуатора</a></li>
								<li><a href="#">СТО</a></li>
								<li><a href="#">Услуга</a></li>
								<li><a href="#">Услуга</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="content">
		

		<div class="first-row table-layout">
			<div class="left-side">
				<div class="left-side-f"></div>
				<div class="left-side-icon">
					<img src="../images/left-icon.png" alt="map">
				</div>
				<div class="left-side-circle"></div>
			</div>
			
			<div class="main-transportation">
				<div class="ui-colors">
					<ul>
						<li># ecef3a</li>
						<li># 134EAD</li>
						<li># acacac</li>
						<li># 302f35</li>
					</ul>
				</div>

				<div class="ui-fonts">
					<h1>Перевозки в Польшу</h1>
					<h2>Заказать консультацию</h2>
					<h3>Имя</h3>
				</div>
			</div>
			<div class="right-side">
				<div class="right-side-f">
					<div class="right-side-icon">
						<img src="../images/right-icon.png" alt="map">
					</div>
					<div class="right-side-circle"></div>
				</div>
			</div>
		</div>

		<div class="sec-row table-layout">
			<div class="left-side">
				<div class="left-side-f">
					<div class="left-side-text">
						<p><em>НАДЁЖНОСТЬ — </em>главное наше качество.</p>
					</div>
					<div class="left-side-circle"></div>
				</div>
			</div>
			
			<div class="main-evacuate">
				<div class="ui-fonts ui-fonts_fl">
					<h4>Подробнее</h4>
					<h5>Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития. Таким образом сложившаяся структура организации играет важную роль в формировании систем массового участия. </h5>
				</div>

				<div class="ui-navigation">
					<div class="navigation">
						<ul>
							<li><a href="">Главная</a></li>
							<li>&nbsp;&gt;&nbsp;</li>
							<li><a href="">Новости</a></li>
							<li>&nbsp;&gt;&nbsp;</li>
							<li><span>Блог</span></li>
						</ul>
					</div>
				</div>

				<div class="ui-btns">
					<div class="ui-btns-y">
						<div class="btn">Узнать цену</div>
						<div class="btn btn_hover">Узнать цену</div>
					</div>
					<div class="ui-btns-w">
						<div class="btn btn-white">Подробнее</div>
						<div class="btn btn-white btn_hover">Подробнее</div>
					</div>
					<div class="ui-btns-b">
						<div class="btn btn-blue">Подробнее</div>
						<div class="btn btn-blue btn_hover">Подробнее</div>
					</div>
				</div>

				<div class="blog-pagination blog-pagination_ui">
					<ul>
						<li><a href="#"><span class="icon-arr-left-blue"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><span class="icon-arr-blue"></span></a></li>
					</ul>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f">
					<div class="right-side-text">
						<p><em>УКРТРАНС — </em>это стабильность.</p>
					</div>
					<div class="right-side-circle"></div>
				</div>
			</div>
		</div>

		<div class="third-row table-layout">
			<div class="left-side">
				<div class="left-side-f">
					<div class="left-side-icon left-side-icon2">
						<img src="../images/left-icon2.png" alt="map">
					</div>
					<div class="left-side-circle left-side-circle2"></div>
				</div>
			</div>
			
			<div class="main-sto">
				<div class="ui-form">
					<div class="pop-call-wrap">
						<span class="icon-close"></span>
						<h2>Заказать обратный звонок</h2>
						<p>Заполните, пожалуйста, эту форму, <br>и наши менеджеры свяжутся с Вами в ближайшее время.</p>
						<form action="">
							<div class="input">
								<span class="icon-form-pers"></span>
								<label for="">Имя</label>
								<input type="text">
							</div>
							<div class="input">
								<span class="icon-form-phone"></span>
								<label for="">+380 (____)_------</label>
								<input type="text">
							</div>
							<div class="input-txt">
								<span class="icon-form-dop"></span>
								<label for="">Доп.инфо</label>
								<textarea name="" id=""></textarea>
							</div>

							<div class="form-bottom">
								<button class="btn">Заказать консультацию</button>
							</div>	
						</form>
					</div>
				</div>

				<div class="ui-table">
					<table>
						<thead>
							<tr>
								<td>Автомобиль</td>
								<td>К-во дней доставки</td>
								<td>Цена</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Volvo</td>
								<td>4</td>
								<td>3000 UAH</td>
							</tr>
							<tr>
								<td>Итого:</td>
								<td></td>
								<td>18000 UAH</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f">
					<div class="right-side-icon right-side-icon2">
						<img src="../images/right-icon2.png" alt="map">
					</div>
					<div class="right-side-circle right-side-circle2"></div>
				</div>
			</div>
		</div>

		<div class="four-row table-layout">
			<div class="left-side">
				<div class="left-side-f">
					<div class="four-row-left-icon">
						<img src="../images/left-icon3.png" alt="icon">
					</div>
				</div>
			</div>
			
			<div class="main-contacts">
				<div class="ui-blog">
					<div class="blog-wrap">
						<div class="blog-item">
							<article>Грузоперевозки в Италию</article>
							<p>Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных </p>

							<a href="#" class="btn btn-white">Подробнее</a>

							<div class="blog-item-img">
								<img src="../images/blog01.jpg" alt="truck">
							</div>
						</div>
						<div class="blog-item blog-item_hover">
							<article>Как выбрать компанию для перевозки грузов?</article>
							<p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. </p>
							<p class="blog-item-b_mb">Равным образом рамки и место обучения кадров позволяет оценить значение систем массового участия.</p>

							<a href="#" class="btn btn-white">Подробнее</a>
						</div>
						<div class="blog-item">
							<article>Грузоперевозки в Италию</article>
							<p>Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных </p>

							<a href="#" class="btn btn-white">Подробнее</a>

							<div class="blog-item-img">
								<img src="../images/blog02.jpg" alt="truck">
							</div>
						</div>
						<div class="blog-item">
							<article>Грузоперевозки в Италию</article>
							<p>Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных </p>

							<a href="#" class="btn btn-white">Подробнее</a>

							<div class="blog-item-img">
								<img src="../images/blog03.jpg" alt="truck">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f">
					<div class="four-row-right-icon">
						<img src="../images/right-icon3.png" alt="icon">
					</div>
					<div class="four-row-right-circle"></div>
				</div>
			</div>
		</div>

		<div class="five-row table-layout">
			<div class="left-side">
				<div class="left-side-f spoiler-h">
					<div class="five-row-left-icon">
						<img src="../images/left-icon4.png" alt="icon">
					</div>
				</div>
			</div>
			
			<div class="main-about">
				<div class="ui-lists">
					<ol>
						<li>Посылки в Европу</li>
						<li>Посылки в Европу</li>
						<li>Посылки в Европу</li>
					</ol>

					<ul>
						<li>Посылки в Европу</li>
						<li>Посылки в Европу</li>
						<li>Посылки в Европу</li>
					</ul>
				</div>
			</div>

			<div class="right-side">
				<div class="right-side-f spoiler-h">
					<div class="five-row-right-icon">
						<img src="../images/right-icon4.png" alt="icon">
					</div>
					<div class="five-row-right-circle"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="right-widget">
		<ul>
			<li><a href="#"><span class="icon-f"></span></a></li>
			<li><a href="#"><span class="icon-v"></span></a></li>
			<li><a href="#"><span class="icon-g"></span></a></li>
			<li>
				<span class="icon-search"></span>
				<div class="right-widget-form">
					<form action="">
						<input type="text">	
					</form>
				</div>
			</li>
			<li>
				<span class="icon-up"></span>
			</li>
		</ul>
	</div>
</div>

<footer>
	<div class="footer-top">
		<div class="footer-top-inner">
			<div class="footer-item">
				<article>О компании</article>

				<ul>
					<li><a href="#">История</a></li>
					<li><a href="#">Ценности</a></li>
					<li><a href="#">Новости компании</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Услуги</article>

				<ul>
					<li class="active"><a href="#">Перевозки по Украине</a></li>
					<li><a href="#">Международные перевозки</a></li>
					<li><a href="#">Услуги СТО</a></li>
					<li><a href="#">Эвакуатор</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Для клиентов</article>

				<ul>
					<li><a href="#">Личный кабинет</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Помогите нам стать лучше</a></li>
				</ul>
			</div>

			<div class="footer-item">
				<article>Мы в соц. сетях</article>

				<ul>
					<li><a href="#"><span class="icon-f"></span></a></li>
					<li><a href="#"><span class="icon-v"></span></a></li>
					<li><a href="#"><span class="icon-g"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-inner">
			<div class="footer-copy">
				&copy; УкрТРАНС 2015. Все права защищены.
			</div>
			<div class="footer-artrix">
				Интернет-агентство <a href="">Artrix</a><span class="icon-bird"></span>
			</div>
		</div>
	</div>
</footer>	

<script src=" https://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>